h1{
    text-align: center; /* Deixa o texto centralizado */
    color: #E01E23; 
    background-color: rgb(238, 233, 233);

}

h2{
    text-align: left;
    color: #12E013;
}

a{
    color: rgb(10, 112, 247);
    background-color: rgb(3, 45, 100);
    font-size: 18px;
    border-style: solid;

}

input{
    text-align: left;
    color: black;
    background-color: #51A0E5;
}

body{
    background-color: #f1f3f5;
    
}
p{
    font-size: 20px;
}

/* ID= identificador (cpf) # */
/* class = Classe (Grupo em comun) . */


.galeria {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    gap: 10px; /* espaço entre as imagens */
    margin: 10px 0; /* espaço acima e abaixo da galeria */
    flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
}